<!DOCTYPE html>
<html lang="ru">
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <meta charset="UTF-8">
    <title>Главная страница | Система заказов</title>
</head>
<body>
    <h1>Добро пожаловать в систему заказов нашей компании!</h1>
    <p><a href="/catalog">Перейти в каталог товаров</a></p>
    <p><a href="/admin">Панель управления (Заказы)</a></p>
</body>
<button class="theme-toggle" onclick="toggleTheme()">🌙 / ☀️</button>

<script>
    function toggleTheme() {
        document.body.classList.toggle('dark-theme');
        localStorage.setItem('theme', document.body.classList.contains('dark-theme') ? 'dark' : 'light');
    }
    if (localStorage.getItem('theme') === 'dark') {
        document.body.classList.add('dark-theme');
    }
</script>
</html>